.managerSidebarImage{
    -fx-opacity: 1;
    -fx-background-image: url("../image/manager1(copy).jpeg");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.allSidebar{
    -fx-background-color: rgba(53, 49, 87, 0.8);
    /*-fx-effect: dropshadow(gaussian, black , 5, 0.01, 2, 2);*/
}
.managerSidebarPaneChange{
    /*-fx-background-color: linear-gradient(#00afff 10%, #0065ff 60%, #0055ff 80%, #001aff 100%);*/
    -fx-background-color: rgba(53, 49, 87, 0.8);
}

.currentSidebarMenu{
    -fx-background-color: #00b634;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.managerSidebarEachMenu{
    -fx-max-width: 220;
    -fx-max-height: 40;
    -fx-padding: 0 0 0 20;
    -fx-start-margin: 20;
    -fx-background-color: rgba(53, 49, 87, 0.8);
    -fx-text-fill: white;
    -fx-font-weight: 700;
    /*-fx-background-radius: 20;*/
    -fx-alignment: center-left;
    /*-fx-effect: dropshadow(gaussian, #242424, 15, 0.1, 3, 3);*/
}

.managerSidebarEachMenu:hover{
    -fx-background-color: rgba(35, 33, 58, 0.8);
    /*-fx-text-fill: black;*/
    /*-fx-effect: dropshadow(gaussian, #000000, 10, 0.01, 0, 1);*/
}
.titleTab{
    -fx-background-radius: 0 0 60 0;
    -fx-background-color: rgb(93,90,120);
    -fx-effect: dropshadow(gaussian, gray , 10, 0.2, 3, 3);
}
.navbar{
    -fx-background-color: #00b634;
    -fx-border-color: #00b634;
    -fx-effect: dropshadow(gaussian, gray , 10, 0.2, 3, 3);
}
.navbarTab{
    -fx-background-color: transparent;
}
.exitBtn{
    -fx-text-fill: white;
    -fx-background-color: transparent;
}
.exitBtn:hover{
    -fx-text-fill: black;
    -fx-background-color: red;
}
.titleBox{
    -fx-font-size: 20px;
}
.numberInBox{
    -fx-font-size: 24px;
}
.buttonUpdateBox{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment: center-left;
}
.buttonUpdateBox:hover{
    -fx-background-color: #0091ea;
    -fx-text-fill: white;
}
.timeInBox{
    -fx-font-family: "Roboto Light";
    -fx-font-style: italic;
}
.bigBox{
    -fx-border-color: #007d00;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #b4b4b4, 10, 0.4, 3, 3);
}
.smallBoxTOP{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #007d00;
}